{% extends 'base.html.twig' %}

{% block title %}User Management{% endblock %}

{% block body %}
    <h1>User Management</h1>
    <p id="userId">
    {% if userForm.vars.submitted %}
        {% if userId %}
            User ID: {{userId}}
        {% endif %}
    {% endif %}
    </p>
    {{ form_errors(userForm) }}

    {{ form_start(userForm) }}
        {{ form_row(userForm.email, {
            label: 'Email'
        }) }}
        {{ form_row(userForm.name, {
            label: 'Name'
        }) }}
        <button type="submit" class="btn">Send</button>
    {{ form_end(userForm) }}
{% endblock %}
